<!-- views/detail.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title><%= plant.name %> Details</title>
</head>
<body>
    <h1><%= plant.name %> Details</h1>
    <p>Type: <%= plant.type %></p>
    <p>Origin: <%= plant.origin %></p>
    <p>Care Level: <%= plant.careLevel %></p>
    <a href="/">Back to Home</a>
</body>
</html>
